*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
  border: #ff0000 solid 1px;
}
  
header {
    background-color: #000000;
    position: relative;
    width: 100%;
    z-index: 1;
    min-height: 350px;
    text-align: center;
  }

  nav {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-transform: uppercase;
  }

  nav li {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  nav li a {
    color: #ffffff;
  }

  .hero {   
    margin-top: 50px; 
    background-color: #000000;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 0;
  }

main {
    text-align: center;
    position: relative;
    color: #000000;
    margin-bottom: 80px;
  }

footer {
    text-transform: uppercase;
    font-size: 11px;
    color: #ffffff;
    background-color: #000000;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

body {    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

a {
    color: #333;
    text-decoration: none;
}

/* Shared styles for reusable layout */
.text-left, .text-right {
  display: flex; /* Side-by-side layout */
  gap: 20px;
  padding: 50px;
}

.text-left .section-text {
  order: 0; /* Keep text on the left */
}

.text-left .section-media {
  order: 1; /* Media stays on the right */
}

.text-right .section-text {
  order: 1; /* Move text to the right */

}
.text-right .section-media {
  order: 0; /* Move media to the left */
}

.section-text p {
  margin: 0px 100px 30px 100px;
  align-self: center;
}

.section-text, .section-media {
  flex: 1; /* Make both divs take equal width */
}

.section-media img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

